.button {
  color: #FFF;
  border: none;
  margin-top: 2rem;
  transition: 0.3s;
}

.button.primary {
  background-color: #33C3F0;
}

.button.primary:hover {
  background-color: #1EAEDB;
  color: #FFF;
}

.button.eliminar {
  background-color: transparent;
  color: #555;
  border: 1px solid #bbb;
}

.button.eliminar:hover {
    color:#333;
    border-color: #888;
}