.button {
  color: white;
  border: none;
  margin-top: 2rem;
  transition: 0.3s;
}

.button.primary {
  background-color: rgb(51,148,187);
}

.button.primary:hover {
  background-color: rgb(102,163,187);
}

.button.eliminar {
  background-color: rgb(255,255,255);
  color: black;
  border: 1px solid rgb(209,209,209);
}

.button.eliminar:hover {
  border: 1px solid black;
}